# Ensemble Learning

## Initial Imports

In [58]:
import warnings
warnings.filterwarnings('ignore')

In [59]:
import numpy as np
import pandas as pd
from pathlib import Path
from collections import Counter

In [60]:
from sklearn.preprocessing import LabelEncoder
from sklearn.metrics import balanced_accuracy_score
from sklearn.metrics import confusion_matrix
from imblearn.metrics import classification_report_imbalanced

## Read the CSV and Perform Basic Data Cleaning

In [61]:
# Load the data
file_path = Path('Resources/LoanStats_2019Q1.csv')
df = pd.read_csv(file_path)

# Preview the data
df.head()

,loan_amnt,int_rate,installment,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,dti,...,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,hardship_flag,debt_settlement_flag
0,10500.0,0.1719,375.35,RENT,66000.0,Source Verified,Mar-2019,low_risk,n,27.24,...,85.7,100.0,0.0,0.0,65687.0,38199.0,2000.0,61987.0,N,N
1,25000.0,0.2000,929.09,MORTGAGE,105000.0,Verified,Mar-2019,low_risk,n,20.23,...,91.2,50.0,1.0,0.0,271427.0,60641.0,41200.0,49197.0,N,N
2,20000.0,0.2000,529.88,MORTGAGE,56000.0,Verified,Mar-2019,low_risk,n,24.26,...,66.7,50.0,0.0,0.0,60644.0,45684.0,7500.0,43144.0,N,N
3,10000.0,0.1640,353.55,RENT,92000.0,Verified,Mar-2019,low_risk,n,31.44,...,100.0,50.0,1.0,0.0,99506.0,68784.0,19700.0,76506.0,N,N
4,22000.0,0.1474,520.39,MORTGAGE,52000.0,Not Verified,Mar-2019,low_risk,n,18.76,...,100.0,0.0,0.0,0.0,219750.0,25919.0,27600.0,20000.0,N,N

In [62]:
df.columns

Index(['loan_amnt', 'int_rate', 'installment', 'home_ownership', 'annual_inc',
       'verification_status', 'issue_d', 'loan_status', 'pymnt_plan', 'dti',
       'delinq_2yrs', 'inq_last_6mths', 'open_acc', 'pub_rec', 'revol_bal',
       'total_acc', 'initial_list_status', 'out_prncp', 'out_prncp_inv',
       'total_pymnt', 'total_pymnt_inv', 'total_rec_prncp', 'total_rec_int',
       'total_rec_late_fee', 'recoveries', 'collection_recovery_fee',
       'last_pymnt_amnt', 'next_pymnt_d', 'collections_12_mths_ex_med',
       'policy_code', 'application_type', 'acc_now_delinq', 'tot_coll_amt',
       'tot_cur_bal', 'open_acc_6m', 'open_act_il', 'open_il_12m',
       'open_il_24m', 'mths_since_rcnt_il', 'total_bal_il', 'il_util',
       'open_rv_12m', 'open_rv_24m', 'max_bal_bc', 'all_util',
       'total_rev_hi_lim', 'inq_fi', 'total_cu_tl', 'inq_last_12m',
       'acc_open_past_24mths', 'avg_cur_bal', 'bc_open_to_buy', 'bc_util',
       'chargeoff_within_12_mths', 'delinq_amnt', 'mo_sin_old_il_acct',
       'mo_sin_old_rev_tl_op', 'mo_sin_rcnt_rev_tl_op', 'mo_sin_rcnt_tl',
       'mort_acc', 'mths_since_recent_bc', 'mths_since_recent_inq',
       'num_accts_ever_120_pd', 'num_actv_bc_tl', 'num_actv_rev_tl',
       'num_bc_sats', 'num_bc_tl', 'num_il_tl', 'num_op_rev_tl',
       'num_rev_accts', 'num_rev_tl_bal_gt_0', 'num_sats', 'num_tl_120dpd_2m',
       'num_tl_30dpd', 'num_tl_90g_dpd_24m', 'num_tl_op_past_12m',
       'pct_tl_nvr_dlq', 'percent_bc_gt_75', 'pub_rec_bankruptcies',
       'tax_liens', 'tot_hi_cred_lim', 'total_bal_ex_mort', 'total_bc_limit',
       'total_il_high_credit_limit', 'hardship_flag', 'debt_settlement_flag'],
      dtype='object')

In [63]:
label_encoder = LabelEncoder()

In [64]:
label_encoder.fit(df["loan_status"])

LabelEncoder()

In [65]:
list(label_encoder.classes_)

['high_risk', 'low_risk']

In [66]:
df["loan_status_int"] = label_encoder.transform(df["loan_status"])

In [67]:
df.drop(["loan_status","home_ownership","verification_status","issue_d","pymnt_plan","initial_list_status","next_pymnt_d","application_type","hardship_flag","debt_settlement_flag"
], axis=1, inplace=True)

In [68]:
df.head()

,loan_amnt,int_rate,installment,annual_inc,dti,delinq_2yrs,inq_last_6mths,open_acc,pub_rec,revol_bal,...,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,loan_status_int
0,10500.0,0.1719,375.35,66000.0,27.24,0.0,0.0,8.0,0.0,1609.0,...,3.0,85.7,100.0,0.0,0.0,65687.0,38199.0,2000.0,61987.0,1
1,25000.0,0.2000,929.09,105000.0,20.23,0.0,0.0,17.0,1.0,18368.0,...,6.0,91.2,50.0,1.0,0.0,271427.0,60641.0,41200.0,49197.0,1
2,20000.0,0.2000,529.88,56000.0,24.26,0.0,0.0,8.0,0.0,13247.0,...,4.0,66.7,50.0,0.0,0.0,60644.0,45684.0,7500.0,43144.0,1
3,10000.0,0.1640,353.55,92000.0,31.44,0.0,1.0,10.0,1.0,17996.0,...,1.0,100.0,50.0,1.0,0.0,99506.0,68784.0,19700.0,76506.0,1
4,22000.0,0.1474,520.39,52000.0,18.76,0.0,1.0,14.0,0.0,9091.0,...,1.0,100.0,0.0,0.0,0.0,219750.0,25919.0,27600.0,20000.0,1

## Split the Data into Training and Testing

In [69]:
# Create our features
X = df.drop(columns=['loan_status_int']) # YOUR CODE HERE

# Create our target
y = df['loan_status_int'] # YOUR CODE HERE

In [70]:
X

,loan_amnt,int_rate,installment,annual_inc,dti,delinq_2yrs,inq_last_6mths,open_acc,pub_rec,revol_bal,...,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit
0,10500.0,0.1719,375.35,66000.0,27.24,0.0,0.0,8.0,0.0,1609.0,...,0.0,3.0,85.7,100.0,0.0,0.0,65687.0,38199.0,2000.0,61987.0
1,25000.0,0.2000,929.09,105000.0,20.23,0.0,0.0,17.0,1.0,18368.0,...,0.0,6.0,91.2,50.0,1.0,0.0,271427.0,60641.0,41200.0,49197.0
2,20000.0,0.2000,529.88,56000.0,24.26,0.0,0.0,8.0,0.0,13247.0,...,0.0,4.0,66.7,50.0,0.0,0.0,60644.0,45684.0,7500.0,43144.0
3,10000.0,0.1640,353.55,92000.0,31.44,0.0,1.0,10.0,1.0,17996.0,...,0.0,1.0,100.0,50.0,1.0,0.0,99506.0,68784.0,19700.0,76506.0
4,22000.0,0.1474,520.39,52000.0,18.76,0.0,1.0,14.0,0.0,9091.0,...,0.0,1.0,100.0,0.0,0.0,0.0,219750.0,25919.0,27600.0,20000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
68812,10000.0,0.1502,346.76,26000.0,9.60,0.0,0.0,9.0,0.0,2684.0,...,0.0,3.0,80.0,0.0,0.0,0.0,20625.0,6798.0,11300.0,5425.0
68813,12000.0,0.2727,368.37,63000.0,29.07,0.0,0.0,8.0,0.0,13314.0,...,0.0,5.0,96.2,0.0,0.0,0.0,87939.0,60350.0,13500.0,62939.0
68814,5000.0,0.1992,185.62,52000.0,14.86,0.0,0.0,5.0,1.0,3715.0,...,0.0,3.0,100.0,0.0,1.0,0.0,30592.0,18611.0,3600.0,18492.0
68815,40000.0,0.0646,1225.24,520000.0,9.96,0.0,1.0,21.0,0.0,59529.0,...,0.0,3.0,98.2,12.5,0.0,0.0,1033574.0,95958.0,100800.0,78634.0
68816,16000.0,0.1131,350.36,72000.0,7.02,2.0,0.0,12.0,1.0,11882.0,...,2.0,0.0,94.3,0.0,1.0,0.0,251486.0,74835.0,23000.0,63090.0

In [71]:
y = y.to_frame()
y

       loan_status_int
0                    1
1                    1
2                    1
3                    1
4                    1
...                ...
68812                1
68813                1
68814                1
68815                1
68816                1

[68817 rows x 1 columns]

In [72]:
X.describe()

,loan_amnt,int_rate,installment,annual_inc,dti,delinq_2yrs,inq_last_6mths,open_acc,pub_rec,revol_bal,...,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit
count,68817.000000,68817.000000,68817.000000,6.881700e+04,68817.000000,68817.000000,68817.000000,68817.000000,68817.000000,68817.000000,...,68817.000000,68817.000000,68817.000000,68817.000000,68817.000000,68817.0,6.881700e+04,6.881700e+04,68817.000000,6.881700e+04
mean,16677.594562,0.127718,480.652863,8.821371e+04,21.778153,0.217766,0.497697,12.587340,0.126030,17604.142828,...,0.052138,2.219423,95.057627,30.626217,0.125972,0.0,2.100332e+05,6.133843e+04,29734.128558,5.572240e+04
std,10277.348590,0.048130,288.062432,1.155800e+05,20.199244,0.718367,0.758122,6.022869,0.336797,21835.880400,...,0.390633,1.897432,8.326426,33.631463,0.336732,0.0,1.928088e+05,5.738798e+04,26795.394232,5.095845e+04
min,1000.000000,0.060000,30.890000,4.000000e+01,0.000000,0.000000,0.000000,2.000000,0.000000,0.000000,...,0.000000,0.000000,20.000000,0.000000,0.000000,0.0,3.600000e+03,2.350000e+02,100.000000,1.270000e+02
25%,9000.000000,0.088100,265.730000,5.000000e+04,13.890000,0.000000,0.000000,8.000000,0.000000,6293.000000,...,0.000000,1.000000,93.000000,0.000000,0.000000,0.0,6.697700e+04,2.650300e+04,11600.000000,2.288000e+04
50%,15000.000000,0.118000,404.560000,7.300000e+04,19.760000,0.000000,0.000000,11.000000,0.000000,12068.000000,...,0.000000,2.000000,100.000000,20.000000,0.000000,0.0,1.467100e+05,4.535700e+04,22100.000000,4.200000e+04
75%,24000.000000,0.155700,648.100000,1.040000e+05,26.660000,0.000000,1.000000,16.000000,0.000000,21735.000000,...,0.000000,3.000000,100.000000,50.000000,0.000000,0.0,3.036400e+05,7.657000e+04,39300.000000,7.249900e+04
max,40000.000000,0.308400,1676.230000,8.797500e+06,999.000000,18.000000,5.000000,72.000000,4.000000,587191.000000,...,18.000000,19.000000,100.000000,100.000000,4.000000,0.0,3.292782e+06,1.295455e+06,509400.000000,1.426964e+06

In [73]:
# Check the balance of our target values
# YOUR CODE HERE
y['loan_status_int'].value_counts()

1    68470
0      347
Name: loan_status_int, dtype: int64

In [74]:
# Split the X and y into X_train, X_test, y_train, y_test
# YOUR CODE HERE
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test= train_test_split(X, 
                                                   y, 
                                                   random_state=1, 
                                                   stratify=y)
X_train.shape

(51612, 76)

## Data Pre-Processing

Scale the training and testing data using the `StandardScaler` from `sklearn`. Remember that when scaling the data, you only scale the features data (`X_train` and `X_testing`).

In [75]:
# Create the StandardScaler instance
# YOUR CODE HERE
from sklearn.preprocessing import StandardScaler
data_scaler = StandardScaler()

In [76]:
# Fit the Standard Scaler with the training data
# When fitting scaling functions, only train on the training dataset
# YOUR CODE HERE
data_scaler.fit(X_train)

StandardScaler()

In [77]:
# Scale the training and testing data
# YOUR CODE HERE
X_train_scaled = data_scaler.transform(X_train)
X_test_scaled = data_scaler.transform(X_test)

## Ensemble Learners

In this section, you will compare two ensemble algorithms to determine which algorithm results in the best performance. You will train a Balanced Random Forest Classifier and an Easy Ensemble classifier . For each algorithm, be sure to complete the folliowing steps:

1. Train the model using the training data. 
2. Calculate the balanced accuracy score from sklearn.metrics.
3. Display the confusion matrix from sklearn.metrics.
4. Generate a classication report using the `imbalanced_classification_report` from imbalanced-learn.
5. For the Balanced Random Forest Classifier only, print the feature importance sorted in descending order (most important feature to least important) along with the feature score

Note: Use a random state of 1 for each algorithm to ensure consistency between tests

### Balanced Random Forest Classifier

In [78]:
# Resample the training data with the BalancedRandomForestClassifier
# YOUR CODE HERE
from sklearn.ensemble import RandomForestClassifier
rf_model = RandomForestClassifier(n_estimators=500, random_state=1)
rf_model = rf_model.fit(X_train_scaled, y_train)

predictions = rf_model.predict(X_test_scaled)

In [79]:
# Calculated the balanced accuracy score
# YOUR CODE HERE
from sklearn.metrics import confusion_matrix, accuracy_score, classification_report
acc_score = accuracy_score(y_test, predictions)
print(f"Accuracy Score : {acc_score}")

Accuracy Score : 0.9958732926474861

In [80]:
# Display the confusion matrix
# YOUR CODE HERE
cm = confusion_matrix(y_test, predictions)
cm_df = pd.DataFrame(
    cm, index=["Actual 0", "Actual 1"], columns=["Predicted 0", "Predicted 1"]
)

print("Confusion Matrix")
display(cm_df)

Confusion Matrix

          Predicted 0  Predicted 1
Actual 0           28           59
Actual 1           12        17106

In [81]:
# Print the imbalanced classification report
# YOUR CODE HERE
print("Classification Report")
print(classification_report(y_test, predictions))

Classification Report
              precision    recall  f1-score   support

           0       0.70      0.32      0.44        87
           1       1.00      1.00      1.00     17118

    accuracy                           1.00     17205
   macro avg       0.85      0.66      0.72     17205
weighted avg       1.00      1.00      1.00     17205

In [91]:
# List the features sorted in descending order by feature importance
# YOUR CODE HERE
importances = rf_model.feature_importances_

sorted(zip(importances, X.columns), reverse=True)

[(0.07333252693604911, 'total_rec_prncp'),
 (0.06843347365369384, 'last_pymnt_amnt'),
 (0.06753462313883246, 'total_rec_int'),
 (0.06270264252371459, 'total_pymnt_inv'),
 (0.060095546760764076, 'total_pymnt'),
 (0.019690407960575668, 'dti'),
 (0.01905523060108911, 'mo_sin_old_rev_tl_op'),
 (0.018198629057200873, 'mo_sin_old_il_acct'),
 (0.017401657827797765, 'max_bal_bc'),
 (0.016788787193788485, 'out_prncp'),
 (0.016427933240075184, 'bc_open_to_buy'),
 (0.01623162048521257, 'out_prncp_inv'),
 (0.016230856746121156, 'bc_util'),
 (0.016214465119022112, 'revol_bal'),
 (0.015385536763587337, 'total_bal_ex_mort'),
 (0.015223856140828678, 'tot_hi_cred_lim'),
 (0.015030380416381406, 'avg_cur_bal'),
 (0.015014638464366015, 'installment'),
 (0.014992927652284596, 'tot_cur_bal'),
 (0.014814200374135352, 'annual_inc'),
 (0.014520077050671645, 'total_bc_limit'),
 (0.014159211734667835, 'total_il_high_credit_limit'),
 (0.013924148055742243, 'total_rec_late_fee'),
 (0.013880058632965075, 'total_rev_hi_lim'),
 (0.013760038461673504, 'total_bal_il'),
 (0.013377419977560031, 'il_util'),
 (0.01293078367351262, 'mths_since_rcnt_il'),
 (0.012693459509106603, 'all_util'),
 (0.012547058930774213, 'total_acc'),
 (0.012507847646496996, 'int_rate'),
 (0.011750764435097974, 'mo_sin_rcnt_rev_tl_op'),
 (0.01168011136353545, 'mths_since_recent_bc'),
 (0.011376100083664737, 'num_rev_tl_bal_gt_0'),
 (0.011249774660138762, 'num_rev_accts'),
 (0.01118053877573212, 'num_il_tl'),
 (0.011102224587866558, 'loan_amnt'),
 (0.010787954384604332, 'num_actv_rev_tl'),
 (0.010757792007027244, 'mths_since_recent_inq'),
 (0.010609349419610831, 'open_acc'),
 (0.010326294255648676, 'num_sats'),
 (0.009650088792930998, 'num_actv_bc_tl'),
 (0.009642503312853013, 'inq_last_12m'),
 (0.009569283629724642, 'acc_open_past_24mths'),
 (0.009423881678385223, 'mo_sin_rcnt_tl'),
 (0.009234805184542194, 'num_op_rev_tl'),
 (0.00903963971213215, 'num_bc_tl'),
 (0.008901819391192802, 'total_cu_tl'),
 (0.008653083263650305, 'pct_tl_nvr_dlq'),
 (0.008241827067313473, 'open_rv_24m'),
 (0.007835254239514557, 'open_il_24m'),
 (0.007156259727354655, 'inq_fi'),
 (0.0071558836559334794, 'percent_bc_gt_75'),
 (0.007147384077421001, 'num_bc_sats'),
 (0.0070153873711723885, 'mort_acc'),
 (0.006964476017814908, 'num_tl_op_past_12m'),
 (0.006804523923222873, 'open_acc_6m'),
 (0.006705082076586535, 'open_act_il'),
 (0.005573148515405959, 'inq_last_6mths'),
 (0.005232869645679707, 'open_rv_12m'),
 (0.004859336588055692, 'open_il_12m'),
 (0.004329417462357014, 'tot_coll_amt'),
 (0.004151143793984781, 'delinq_2yrs'),
 (0.0037272937189426225, 'num_accts_ever_120_pd'),
 (0.0030099368894757443, 'pub_rec'),
 (0.0026255947434140445, 'pub_rec_bankruptcies'),
 (0.0016109226348118941, 'num_tl_90g_dpd_24m'),
 (0.0013396726147425827, 'collections_12_mths_ex_med'),
 (0.0004785315697670876, 'chargeoff_within_12_mths'),
 (0.0, 'tax_liens'),
 (0.0, 'recoveries'),
 (0.0, 'policy_code'),
 (0.0, 'num_tl_30dpd'),
 (0.0, 'num_tl_120dpd_2m'),
 (0.0, 'delinq_amnt'),
 (0.0, 'collection_recovery_fee'),
 (0.0, 'acc_now_delinq')]

### Easy Ensemble Classifier

In [83]:
# Train the Classifier
# YOUR CODE HERE
from imblearn.ensemble import EasyEnsembleClassifier
eec = EasyEnsembleClassifier(n_estimators=500, random_state=1)
eec.fit(X_train_scaled, y_train)

y_pred = eec.predict(X_test_scaled)

In [88]:
# Calculated the balanced accuracy score
# YOUR CODE HERE
eec_acc_score = accuracy_score(y_test, y_pred)
print(f"Accuracy Score : {eec_acc_score}")

Accuracy Score : 0.8012786980528916

In [89]:
# Display the confusion matrix
# YOUR CODE HERE
eec_cm = confusion_matrix(y_test, predictions)
cm_df = pd.DataFrame(
    eec_cm, index=["Actual 0", "Actual 1"], columns=["Predicted 0", "Predicted 1"]
)
print("Confusion Matrix")
print(cm_df)

Confusion Matrix
          Predicted 0  Predicted 1
Actual 0           28           59
Actual 1           12        17106

In [99]:
# Print the imbalanced classification report
# YOUR CODE HERE
print("Classification Report")
print(classification_report(y_test, y_pred))

Classification Report
              precision    recall  f1-score   support

           0       0.02      0.67      0.03        87
           1       1.00      0.80      0.89     17118

    accuracy                           0.80     17205
   macro avg       0.51      0.73      0.46     17205
weighted avg       0.99      0.80      0.88     17205

In [100]:
#from sklearn.metrics import confusion_matrix
from imblearn.metrics import geometric_mean_score
print(f"The geometric mean is {geometric_mean_score(y_test, y_pred):.3f}")

The geometric mean is 0.731

### Final Questions

1. Which model had the best balanced accuracy score?

    YOUR ANSWER HERE.

2. Which model had the best recall score?

    YOUR ANSWER HERE.

3. Which model had the best geometric mean score?

    YOUR ANSWER HERE.

4. What are the top three features?

    YOUR ANSWER HERE.